---
layout: layouts/base.njk
---

<header class="border-2 border-black hard-shadow p-3 rounded w-10/12 bg-teal-100">
  <div class="">
    <a href="/">
      <img class="w-1/3" src="./static/images/logo.png" alt="logo" />
    </a>
  </div>
  <div>
    <h1 class="m-4 text-2xl font-bold">Ceritanya Developer</h1>
    <h2 class="m-4">Developer inspiratif bercerita tentang bagaimana mereka mulai menjadi developer.</h2>
    <p class="m-4">Tersedia di: iTunes, Google Podcast, Spotify, Anchor.fm, Pocket Cast, dan berbagai platform lainnya.</p>
  </div>
</header>
